<footer class="footer">
  <ul>
    <li><a href="https://www.linkedin.com/in/eshika-k-28500b107/">Linkedin</a></li>
    <li><a href="https://www.instagram.com/ekothari321/">Instagram</a></li>
    <li><a href="https://github.com/eshikakothari">Github</a></li>
    <li><img src="public/assets/ins.png" alt=""></li>
  </ul>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
